<%= render 'admins/index' %>

<p id="notice"><%= notice %></p>

<div class="card">
<div class="card-body">
  <h1>Add New Tenants</h1>
</div>
</div>
<%= render 'form', tenant: @tenant %>

<%= render 'admins/index_footer' %>
