<div class="container row mt-3">
    <div class="card text-white col-12 form-group bg-primary mb-3">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-danger">Go somewhere</a>
    </div>
    </div>

    <div class="card text-white col-12 form-group bg-secondary mb-3">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-danger">Go somewhere</a>
    </div>
    </div>

    <div class="card text-white col-12 form-group bg-info mb-3">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-danger">Go somewhere</a>
    </div>
    </div>
</div>