<%= render 'admins/index' %>
<p id="notice"><%= notice %></p>

<div class="card">
<div class="card-body">
  <h1>Add New House</h1>
</div>
</div>

<%= render 'form', house: @house %>

<%= render 'admins/index_footer' %>

