<%= render 'admins/index' %>
<p id="notice"><%= notice %></p>

<div class="card">
<div class="card-body">
  <h1>Add New Care Taker</h1>
</div>
</div>
<%= render 'form', caretaker: @caretaker %>

<%= render 'admins/index_footer' %>
